@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700&family=Montserrat:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 3px;
}

body{
  background: #f1f1f1;
}
.main-container{
  max-width: 1400px; 
  margin: auto;
  width: 100%;
  
  }
  .layout{
    padding: 10px;
  }

h1 , h2 , h3 , h4 , h5 , h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p{
  font-weight: 400;
}